@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
  background-color: rgb(239, 243, 243);
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  color: rgb(117, 125, 165);
}
a {
  text-decoration: none;
  font-size: 20px;
  color: #349;
}
.container {
  display: flex;
}
.box {
  margin: 20px;
  background-color: aliceblue;
  padding: 20px;
}
